* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  padding: 20px;
}

.navbar {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 20px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  flex-wrap: wrap;
}

body {
  background: hsl(228, 45%, 44%);
  background-repeat: repeat;
  background-image: url("../img/bg-intro-desktop.png");
  height: 100%;
}

.cajaImg {
  margin-left: 70px;
  height: 70px;
  width: 150px;
}

.contenedorContent {
  height: 800px;
  display: flex;
  width: 100%;
  gap: 15px;
}

.wrap {
  flex-wrap: wrap;
}

h1 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.contenido {
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.imgContenido {
  height: 40%;
  width: 100%;
}

.imgContenido2 {
  height: 100%;
  width: 100%;
  margin-top: 50px;
}

.imgContenido11 {
  width: 60%;
}

.imgContenido12 {
  width: 60%;
}

.centrarText {
  text-align: center;
  margin-top: 40px;
}

.ordenImg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: 100%;
  justify-content: center;
}

.mover {
  position: relative;
  bottom: 50px;
}

.mover24 {
  position: relative;
  bottom: 700px;
  left: 100px;
}

.imgContenido3 {
  height: 400px;
  width: 100%;
  margin-top: 50px;
}

.cajaBoton {
  display: flex;
  width: 60%;
  height: 9%;
  gap: 30px;
  position: relative;
  left: 120px;
  bottom: 210px;
}

.boton {
  border-radius: 20px;
  width: 25%;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.boton2 {
  border-radius: 20px;
  width: 25%;
  font-size: 18px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.sobreLaEmpresa {
  display: flex;
  width: 50%;
  margin-top: 30px;
  p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
}

a {
  text-decoration: none;
  color: white;
}

.tamImg {
  width: 10%;
  height: 15%;
}

.seccion2 {
  display: flex;
  width: 100%;
  height: 100;
  flex-direction: row;
  gap: 10px;

  flex-wrap: wrap;
  margin-bottom: 20px;
}

.seccion3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

h2 {
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
}
.centrado {
  text-align: center;
}

.mover {
  margin-top: 80px;
}

.mover10 {
  margin-top: 50px;
}

.mover11 {
  margin-bottom: 60px;
}

.mover12 {
  position: relative;
  bottom: 60px;
}

.mover2 {
  position: relative;
  bottom: 70px;
}

.centrar11 {
  position: relative;
  left: 120px;
}

.textoP {
  width: 60%;
}

.modli {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.modp {
  width: 100%;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  display: flex;
  width: 100%;
  color: black;
  margin-left: 30%;
  position: relative;
  bottom: 50px;
  gap: 20px;
  flex-wrap: wrap;
}

.imgRespo {
  width: 100%;
  height: 100%;
}

@media (min-width: 376px) {
  .contenedorContent {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .imgContenido2 {
    height: 40%;
    width: 60%;
    position: relative;
    bottom: 60px;
  }
  .mover24 {
    position: relative;
    bottom: 200px;
    left: 88px;
    margin-top: 10px;
  }
}

@media (max-width: 992px) {
  .contenedorContent {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .imgContenido {
    height: 50%;
    width: 40%;
  }
  .imgContenido3 {
    height: 100%;
    width: 60%;
    position: relative;
    bottom: 20px;
  }
}

@media (max-width: 992px) {
  .seccion2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    bottom: 70px;
  }
  .footer2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 50%;
    color: black;
    position: absolute;
    right: 1px;
    top: 910px;
  }

  .tamimg4 {
    width: 150px;
    height: 70%;
  }
  .imgContenido3 {
    height: 100%;
    width: 60%;
    position: relative;
    bottom: 80px;
  }
}

@media (min-width: 992px) {
  .seccion2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .footer2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50%;
    color: black;
    position: absolute;
    right: 1px;
    top: 600px;
  }
  .imgContenido2 {
    height: 60%;
    width: 60%;
  }
}

@media (min-width: 1032px) {
  .seccion2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .footer2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50%;
    color: black;
    position: absolute;
    right: 1px;
    top: 800px;
  }
}

@media (min-width: 1400px) {
  .seccion3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
  }

  .mover3_3 {
    margin-top: 80px;
  }
}

/*
  .seccion4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
   
  .tamimg4{
    width: 30px;
    height: 30px;
   }
   */
/*
  .footer2{
    display: flex;
    width: 100%;
    height: 50%;
    color: black;
    position: absolute;
    right: 9px;
    top:900px;
    
    flex-direction: column;
    align-content: center;
  }
     
     .tamimg4{
      width: 85%;
      height: 80%;
     }
     */
